{% extends 'base.html' %}

{% block title %}
    Project Details
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Project {{ project_object }}</h1>
            <p>{{ project_object.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if project_object.tasks.all|length == 0 %}
                <p>This project has no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </thead>
                    <tbody>
                        {% for project_details in project_object.tasks.all %}
                            <tr>
                                <td>{{ project_details.name }}</td>
                                <td>{{ project_details.assignee }}</td>
                                <td>{{ project_details.start_date }}</td>
                                <td>{{ project_details.due_date }}</td>
                                <td>{{ project_details.is_complete|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
